@import "theme";

.acceptCookies {
  opacity: 0.8;
  padding: 6px 20px;

  a {
    text-decoration: underline;
    padding-left: 6px;
    color: $light;
  }

  a:hover {
    color: $light;
  }

  p {
    word-wrap: break-word;
    max-width: 80vw;
  }

  @include mobile-and-tablet {
    p {
      max-width: 70vw;
    }
  }

  &:global(.ui.menu .item>.button) {
    color: $dark;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
