@import "theme";

.acceptCookies {
  opacity:0.8;
  padding:6px 20px;
  a {
    text-decoration: underline;
    padding-left: 6px;
    color:#fff;
  }

  a:hover {
    color:#fff;
  }

  p {
    word-wrap: break-word;
    max-width: 80vw;
  }

  @include mobile-and-tablet {
    p {
      max-width: 70vw;
    }
  }

  &:global(.ui.menu .item>.button) {
    color: #000;
    padding-top:0.5em;
    padding-bottom: 0.5em;
  }
}
