{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "contexts": "./src/contexts",
          "components": "./src/components",
          "modules": "./src/modules",
          "data": "./src/data",
          "helpers": "./src/helpers"
        }
      }
    ]
  ]
}
