@import "theme";

.content-layout__menu--bottom-search {
  &:global(.ui.inverted.menu) {
    padding-bottom: 41px;
    background-color: $dark-light;
  }

  &:global(.ui.bottom.fixed) {
    z-index: 1100;
  }
}

.content-layout__menu--bottom {
  &:global(.ui.bottom.fixed) {
    z-index: 1200;
  }
}

.content-layout__menu--top {
  &:global(.ui.fixed.menu) {
    padding-top: 54px;
  }

  &:global(.menu.ui.top.fixed) {
    z-index: 1100;
  }
}

.content-layout__segment {
  &:global(.ui.loading) {
    min-height: 200px;
  }

  &:global(.ui.basic) {
    padding: 0;
  }

  &:global(.ui.basic.loading::before) {
    background: $none;
  }
}
