
/* Green */
$action-primary: #21BA45;

/* Domapic purples */

/* Logo. Texts, etc.. */
$brand-primary: #393553;
/* Icons, etc. */
$brand-secondary: #554F7C;
/* Brightness */
$brand-terciary: #8579C0;

$dark: #000000;
$dark-light: #51545B;

$light: #FFFFFF;

// BACKGROUNDS

$none: none;


// MEDIA QUERIES

$mq-mobile-and-tablet: 767px !default;
//...

// Both mobile and tablet
@mixin mobile-and-tablet {
  @media (max-width : $mq-mobile-and-tablet) {
    @content;
  }
}
