
/* Green */
$action-primary: #21ba45;

/* Domapic purples */

/* Logo. Texts, etc.. */
$brand-primary: #393553;
/* Icons, etc. */
$brand-secondary: #554f7c;
/* Brightness */
$brand-terciary: #8579c0;

$dark-light: #51545b;


// MEDIA QUERIES

$mq-mobile-and-tablet: 767px !default;
//...

// Both mobile and tablet
@mixin mobile-and-tablet {
  @media (max-width : $mq-mobile-and-tablet) {
    @content;
  }
}
