@import "theme";

.breadcrumbs {
  font-weight: 700;

  :global(a .icon:only-child) {
    font-size: 1em;
    margin-right: 0;
    padding: 0;
  }

  :global(.icon:only-child) {
    font-size: 1em;
    margin-right: 3px;
    padding: 0;
  }
}

.breadcrumbs__separator {
  padding-left: 10px;
  padding-right: 10px;
}
